* {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

.theme {
  color: #079090 !important;
}

li a {
  margin-left: 20px;
}
nav a {
  margin-left: 20px;
}
